.tag {
  display: inline-block;
  font-weight: 700;
  background-color: var(--red);
  color: white;
  font-size: 16px;
  line-height: 24px;
  transition: all 0.3s;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: rgb(182, 0, 0);
  }
}

.s {
  border-radius: 22px;
  padding: 0px 9px;
}
.m {
  border-radius: 33px;
  padding: 5px 13px;
}
.direction {
  border-radius: 11px;
  padding: 6px 26px;
}
@media screen and (max-width: 368px) {
  .tag {
    font-size: 12px;
    list-style: 14px;
  }
}
