.section {
  margin-top: 60px;
  margin-bottom: 60px;
}
.favorites__notSelect {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .section {
    margin-top: 20px;
    .company__title {
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 378px) {
  .section {
    h2 {
      margin-left: 15px;
    }
    .company__title {
      padding: 0 15px;
    }
    hr {
      margin-bottom: 10px;
    }
    div:last-child {
      margin-top: 0;
    }
  }
  .favorites__notSelect {
    text-align: start;
  }
}
