.lds-roller {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 100px auto;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--red);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// @keyframes ldio-veva5erjkd {
//   0% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//   }
// }
// .ldio-veva5erjkd {
//   width: max-content;
//   margin: 0 auto;
// }

// .ldio-veva5erjkd div {
//   left: 94px;
//   top: 48px;
//   position: absolute;
//   animation: ldio-veva5erjkd linear 1s infinite;
//   background: #df1317;
//   width: 12px;
//   height: 30px;
//   border-radius: 6px / 12px;
//   transform-origin: 6px 52px;
// }
// .ldio-veva5erjkd div:nth-child(1) {
//   transform: rotate(0deg);
//   animation-delay: -0.9166666666666666s;
//   background: #df1317;
// }
// .ldio-veva5erjkd div:nth-child(2) {
//   transform: rotate(30deg);
//   animation-delay: -0.8333333333333334s;
//   background: #df1317;
// }
// .ldio-veva5erjkd div:nth-child(3) {
//   transform: rotate(60deg);
//   animation-delay: -0.75s;
//   background: #df1317;
// }
// .ldio-veva5erjkd div:nth-child(4) {
//   transform: rotate(90deg);
//   animation-delay: -0.6666666666666666s;
//   background: #df1317;
// }
// .ldio-veva5erjkd div:nth-child(5) {
//   transform: rotate(120deg);
//   animation-delay: -0.5833333333333334s;
//   background: #df1317;
// }
// .ldio-veva5erjkd div:nth-child(6) {
//   transform: rotate(150deg);
//   animation-delay: -0.5s;
//   background: #df1317;
// }
// .ldio-veva5erjkd div:nth-child(7) {
//   transform: rotate(180deg);
//   animation-delay: -0.4166666666666667s;
//   background: #df1317;
// }
// .ldio-veva5erjkd div:nth-child(8) {
//   transform: rotate(210deg);
//   animation-delay: -0.3333333333333333s;
//   background: #df1317;
// }
// .ldio-veva5erjkd div:nth-child(9) {
//   transform: rotate(240deg);
//   animation-delay: -0.25s;
//   background: #df1317;
// }
// .ldio-veva5erjkd div:nth-child(10) {
//   transform: rotate(270deg);
//   animation-delay: -0.16666666666666666s;
//   background: #df1317;
// }
// .ldio-veva5erjkd div:nth-child(11) {
//   transform: rotate(300deg);
//   animation-delay: -0.08333333333333333s;
//   background: #df1317;
// }
// .ldio-veva5erjkd div:nth-child(12) {
//   transform: rotate(330deg);
//   animation-delay: 0s;
//   background: #df1317;
// }
// .loadingio-spinner-spinner-tgdxq8xjjzq {
//   margin: 100px auto;
//   width: 200px;
//   height: 200px;
//   display: block;
//   overflow: hidden;
//   // background: #f1f2f3;
// }
// .ldio-veva5erjkd {
//   width: 100%;
//   height: 100%;
//   position: relative;
//   transform: translateZ(0) scale(1);
//   backface-visibility: hidden;
//   transform-origin: 0 0; /* see note above */
// }
// .ldio-veva5erjkd div {
//   box-sizing: content-box;
//   width: 5px;
//   height: 15px;
//   border-radius: 2px / 8px;
//   transform-origin: 3px 25px;
// }
// /* generated by https://loading.io/ */

// @media screen and (max-width: 768px) {
//   .ldio-veva5erjkd div {
//     width: 5px;
//     height: 15px;
//     border-radius: 2px / 8px;
//     transform-origin: 3px 25px;
//   }
// }

// @media screen and (max-width: 378px) {
//   .loadingio-spinner-spinner-tgdxq8xjjzq {
//     margin: 50px auto;
//   }
// }
