.section {
  margin-top: 60px;
  margin-bottom: 90px;
  button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }
}

.block__review {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .section {
    margin-top: 0px;
    padding: 15px;
  }
  .block__review {
    grid-template-columns: 1fr 1fr;
  }
  .block__review_item {
    .block__review_title {
      padding: 20px;
      h2 {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 21px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 378px) {
  .section {
    padding-top: 0;
  }
  .block__review {
    grid-template-columns: 1fr;
  }
}
