.section {
  height: 785px;
  width: 100%;
  margin-bottom: 70px;
}
.wrapper {
  padding: 81px 236px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 1870px;
  height: 785px;
  background-color: var(--lite-grey);
  border-radius: 25px;
  h2 {
    font-size: 40px;
    line-height: 46px;
    font-weight: 700;
    margin-bottom: 45px;
  }
}
.wrapper__settings {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 30px;
  .setting {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 50px;
  }
}
.setting__select {
  grid-column: 1/3;
  padding: 23px;
  background-color: rgba(194, 194, 196, 0.5);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  gap: 10px;
  .setting__select_item {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    height: 46px;
    padding: 12px 20px;
    background-color: white;
    border-radius: 6px;
    color: rgba(38, 38, 38, 1);
    .select__popUpList {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      margin-top: 10px;
      width: 100%;
      max-height: 300px;
      z-index: 10;
      overflow-y: scroll;
      border-radius: 10px;
      &::-webkit-scrollbar {
        width: 6px;
      }
      li {
        padding: 10px 15px;
        background-color: rgba(255, 255, 255);
        border-bottom: 2px solid white;
        &:hover {
          transition: all 0.5s;
          border-bottom: 2px solid rgb(139, 139, 139, 0.5);
        }
        &:active {
          background-color: rgb(177, 177, 177);
        }
      }
    }
    .active {
      display: block;
    }
  }
  .down {
    svg {
      transform: rotate(180deg);
    }
  }
}

.hr,
.hr__mobile {
  display: none;
}

@media screen and (max-width: 1882px) {
  .wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 1730px) {
  .wrapper {
    padding: 81px 50px;
  }
}

@media screen and (max-width: 1330px) {
  .section {
    height: auto;
    margin-bottom: 40px;
  }

  .wrapper {
    position: relative;
    width: 96%;
    height: auto;
    padding: 35px;
    h2 {
      font-size: 20px;
      list-style: 23px;
      margin-bottom: 25px;
    }
  }
  .wrapper__settings {
    grid-template-columns: 100%;
    .setting {
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      grid-row-gap: 30px;
    }
  }
  .setting__select {
    grid-column-gap: 10px;
    margin: 0;
    background: none;
    padding: 0;
    .setting__select_item {
      width: 100%;
      height: 65px;
    }
  }

  .hr {
    display: block;
    margin: 40px 0 25px 0;
    border: none;
    height: 2px;
    background-color: rgba(225, 225, 225, 1);
  }
  .br {
    display: none;
  }
}
@media screen and (max-width: 528px) {
  .section {
    height: 1399px;
    .hr__mobile {
      display: block;
      margin: 20px 0 15px 0;
      border: none;
      height: 2px;
      background-color: rgba(225, 225, 225, 1);
    }
    .wrapper {
      padding-left: 20px;
      padding-right: 20px;
      h2 {
        margin-bottom: 20px;
      }
    }
    .wrapper__settings {
      .setting {
        grid-template-columns: 1fr;
        gap: 15px;

        .setting__select {
          grid-column: 1;
          display: block;
          .setting__select_item {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
