.section__taxi {
  position: relative;
}
.banner__wrapper {
  position: relative;
  height: 600px;
  top: 0;
  width: 1870px;
  left: -15%;
  background: #ffcd1b;
  border-radius: 25px;

  .banner__fon {
    position: absolute;
    width: 1222px;
    height: 100%;
    top: 0;
    right: 0;
    background: #ffcd1b;
    background-image: url(../../assets/Images/first.png);
    background-blend-mode: multiply;
    border-radius: 25px;
  }
  .taxi {
    position: absolute;
    right: 128px;
    z-index: 1;
    bottom: 110px;
    img {
      width: 100%;
    }
  }
}

.banner {
  position: absolute;
  padding: 30px 214px;
  border-radius: 25px;
  height: 100%;
  width: 100%;
  .routing__title {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 65px;
    p {
      color: #262626;
    }
    svg {
      transform: rotate(-90deg);
      fill: var(--red);
      margin: 0 5px;
    }
    a:hover {
      color: black;
      transform: scale(1.02);
    }
  }
  h1 {
    position: relative;
    z-index: 10;
    width: 58%;
    font-size: 60px;
    line-height: 70px;
    color: #262626;
    margin-bottom: 35px;
  }
}

.additional {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 500px;
  gap: 20px;
}
.additional__item {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: start;

  .additional__svg {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }

  p {
    width: 160px;
  }
}

// media========================================================

@media (max-width: 1440px) {
  .section__taxi {
    padding: 0 15px;
  }

  .banner__wrapper {
    width: 100%;
    left: 0;
    .banner__fon {
      border-radius: 25px;
    }
    .taxi {
      width: 600px;
    }
    .banner {
      padding: 30px;
    }
  }
}

@media (max-width: 1270px) {
  .banner__wrapper {
    .banner__fon {
      width: 100%;
      background-position: center;
    }
    .taxi {
      right: 0;
      width: 500px;
      z-index: 0;
    }
  }
  .banner {
    h1 {
      width: 67%;
      font-size: 45px;
      line-height: 55px;
    }
  }
}

@media (max-width: 968px) {
  .banner__wrapper {
    .taxi {
      left: 50%;
      transform: translate(-50%);
      bottom: 250px;
    }
  }
  .banner {
    .routing__title {
      margin-bottom: 40px;
    }
    h1 {
      font-size: 35px;
      line-height: 40px;
    }
    .additional {
      width: 100%;
      position: absolute;
      bottom: 130px;
    }
  }
}

@media (max-width: 768px) {
  .banner__wrapper {
    .taxi {
      width: 378px;
    }
  }
  .banner {
    h1 {
      width: 100%;
    }
    .additional {
      width: max-content;
    }
  }
}
@media (max-width: 515px) {
  .section__taxi {
    padding: 0;
  }

  .banner__wrapper {
    height: 460px;
    .banner__fon {
      background-size: cover;
    }
    .taxi {
      width: 300px;
      bottom: 206px;
    }
    .banner {
      padding: 20px;
      h1 {
        width: 65%;
        font-size: 24px;
        line-height: 28px;
      }
      .routing__title {
        display: none;
      }
      .additional {
        gap: 8px;
        grid-row-gap: 15px;
        .additional__item {
          .additional__svg {
            width: 28px;
            height: 28px;
            margin-right: 10px;
            svg {
              width: 18px;
              height: 18px;
            }
          }
          p {
            width: 120px;
            font-size: 12px;
            line-height: 14px;
          }
        }
      }
    }
  }
}
