.section {
  margin-top: 60px;
  margin-bottom: 120px;
  color: rgba(115, 115, 115, 1);
}

.company__title {
  margin-bottom: 30px;
  color: rgba(38, 38, 38, 1);
  p {
    font-size: 16px;
    line-height: 24px;
  }

  .company__title_ul {
    li {
      position: relative;
      margin-bottom: 17px;
      margin-left: 30px;
      &:before {
        content: '';
        position: absolute;
        left: -30px;
        top: 5px;
        width: 7px;
        height: 7px;
        background-color: var(--red);
        border-radius: 50%;
      }
    }
  }
}

.company__map {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 652px;
  padding: 70px 96px;
  background-color: rgba(248, 248, 248, 1);
  border-radius: 25px;
  margin-top: 70px;
  margin-bottom: 90px;
  .company__map_num {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 307px;
    h2 {
      font-size: 252px;
      color: var(--red);
      font-weight: 600;
    }
    p {
      font-size: 28px;
      line-height: 32px;
      color: var(--red);
    }
  }
  .company__map_amounts {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .company__map_amount {
      width: 137px;
    }
    p {
      font-size: 24px;
      line-height: 28px;
      color: rgba(38, 38, 38, 1);
      font-weight: 400;
      span {
        font-size: 24px;
        line-height: 28px;
        color: rgb(160, 160, 160, 0.7);
      }
    }

    .wrapper__svg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 68px;
      height: 68px;
      border-radius: 50%;
      background-color: rgba(38, 38, 38, 1);
      margin-bottom: 18px;
    }
  }
}

@media screen and (max-width: 1224px) {
  .company__map {
    position: relative;
    .company__map_img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
    .company__map_num {
      z-index: 10;
    }
  }
}

@media screen and (max-width: 768px) {
  .section {
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 0 15px;
    padding-top: 0;

    hr {
      display: block;
      margin-top: 14px;
      margin-bottom: 30px;
    }
  }
  .company__title {
    p {
      font-size: 14px;
      line-height: 21px;
    }
  }

  .company__map {
    margin: 40px 0;
    height: 485px;
    padding: 50px 60px;
    display: block;
    position: relative;

    .company__map_num {
      width: 255px;
      position: relative;
      z-index: 10;
      h2 {
        text-align: center;
        font-size: 110px;
      }
      p {
        width: 100%;
        text-align: center;
        display: inline-block;
        font-size: 18px;
        line-height: 21px;
      }
    }
    .company__map_amounts {
      bottom: 20px;
      .wrapper__svg {
        width: 51px;
        height: 51px;
        margin: 0 auto;
        margin-bottom: 15px;
        img {
          width: 30px;
          height: 23px;
        }
      }
      .wrapper__svg:nth-child(1) {
        img {
          height: 27px;
        }
      }
      .company__map_amount {
        p,
        span {
          font-size: 18px;
          line-height: 21px;
        }
      }
    }
  }
}
@media screen and (max-width: 414px) {
  .section {
    padding: 0;
    :last-child {
      padding: 0;
    }
  }
}
