.section {
  text-align: center;
  margin-bottom: 90px;
  h2 {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 20px;
  }
  .subtitle {
    max-width: 920px;
    line-height: 24px;
    color: grey;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

.img {
  position: relative;
  margin-bottom: 100px;
  .img__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  span img {
    width: 100%;
  }
}

.blog {
  margin-bottom: 100px;
  .blog__wrapper {
    display: grid;
    grid-template-columns: repeat(6, 337px);
    grid-column-gap: 30px;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.blog__item {
  text-align: start;
  img {
    width: 100%;
  }
  span {
    display: inline-block;
    font-size: 14px;
    color: var(--grey);
    margin-top: 23px;
    margin-bottom: 12px;
  }

  p {
    width: 80%;
    font-weight: 700;
    line-height: 18px;
  }
}

.tabpanel {
  div {
    padding: 0;
  }
  strong {
    font-size: 40px;
    display: block;
    margin-bottom: 10px;
  }
  span {
    line-height: 24px;
    color: #737373;
  }
}

@media screen and (max-width: 768px) {
  .section {
    text-align: start;
    padding: 0 30px;
    margin-bottom: 40px;
    h2 {
      font-size: 30px;
      line-height: 35px;
    }
    .subtitle {
      width: 100%;
      margin-bottom: 20px;
      font-size: 14px;
    }
  }
  .img {
    margin-bottom: 40px;
    .img__fon {
      width: 100%;
    }
  }

  .direction {
    div {
      padding: 0;
    }
  }
  .blog {
    margin-bottom: 60px;
    .blog__wrapper {
      grid-column-gap: 15px;
    }
  }
}

@media screen and (max-width: 414px) {
  .section {
    padding: 0 15px;
  }
  .direction {
    div {
      width: 100%;
    }
  }
  .blog .blog__wrapper {
    grid-template-columns: repeat(6, 290px);
    grid-column-gap: 10px;
  }
  .tabpanel {
    strong {
      font-size: 30px;
      line-height: 35px;
    }
    span {
      font-size: 14px;
      line-height: 21px;
    }
  }
  .img {
    height: 215px;
  }
}
