.header {
  padding: 0 233px;
  padding-top: 43px;
  position: relative;
}
.title_info {
  position: absolute;
  top: 0;
  left: 0;
  height: 43px;
  width: 100%;
  padding: 0 233px;
  background-color: rgba(239, 240, 240, 1);
  justify-content: space-between;
  div {
    color: #737373;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    p {
      margin-left: 8px;
    }
  }
}
.header__nav {
  justify-content: space-between;
  padding: 22px 0;
  .nav {
    width: 406px;
    ul {
      width: 100%;
      font-size: 14px;
      justify-content: space-between;
      .active_ {
        color: var(--red);
      }
      a {
        position: relative;
        cursor: pointer;
        padding: 4px 0;
        border-bottom: 2px solid rgb(255, 255, 255, 0);
        color: rgba(38, 38, 38, 1);
        overflow: hidden;
        transition: all 0.3s;
        line-height: 20px;
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 2px;
          background-color: var(--red);
          left: -100%;
        }
        &:hover {
          &::before {
            transition: all 0.3s;
            left: 0px;
          }
        }
      }
    }
  }
  #hr {
    width: 35px;
    transform: rotate(90deg);
    background-color: #c2c2c4;
    border-radius: 1px;
  }
  .header__nav_subtitle {
    line-height: 19px;
    width: 176px;
  }
}
.trigger {
  transition: all 1.5s;
  margin-bottom: 345px;
}
.header__nav_contacts {
  svg {
    cursor: pointer;
  }
  .phones {
    width: 253px;
    text-align: end;
    align-items: start;
    justify-content: space-between;
    div {
      width: 31px;
      height: 31px;
      border-radius: 50%;
      background-color: var(--red);
      padding: 5px;
      padding-left: 7px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    p {
      font-size: 24px;
      line-height: 28px;
      font-weight: 700;
      a {
        color: rgba(38, 38, 38, 1);
      }
    }
    span {
      color: rgba(38, 38, 38, 1);
      text-align: end;
    }
    &:hover {
      a {
        transition: all 0.1s;
        color: var(--red);
      }
    }
  }
}
.header__select {
  justify-content: space-between;
}

//media =========================================================================

@media screen and(max-width: 1740px) {
  .header {
    padding: 0 50px;
    padding-top: 43px;
  }
  .title_info {
    padding: 0 50px;
  }
}
@media screen and(max-width: 1440px) {
  .header {
    padding: 0 20px;
    padding-top: 43px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 15px;
  }
  .header__nav_logo {
    a:nth-child(3) {
      svg {
        width: 127px;
        height: 36px;
      }
    }
  }

  .title_info {
    display: none;
  }

  .header__nav_subtitle,
  .nav,
  hr {
    display: none;
  }

  .header__nav_contacts {
    .phones {
      width: 200px;
      align-items: center;
      p {
        font-size: 18px;
      }
      svg {
        width: 20px;
        height: 20px;
      }
    }
    button,
    span {
      display: none;
    }
  }
  .trigger {
    margin-bottom: 620px;
  }
}

@media screen and (max-width: 520px) {
  .header__nav {
    padding-top: 32px;
  }
  .trigger {
    margin-bottom: 570px;
  }
}
