.section__slider {
  position: absolute;
  background-color: #f9f9f9;
  width: 1870px;
  height: 600px;
  left: -213px;
  border-radius: 25px;
  overflow: hidden;
}

.wrapper__slider {
  position: absolute;
  right: 0;
  top: 0;
  width: 1222px;
  background-image: url('../../Images/first.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .carousel.carousel-slider .control-arrow {
    top: 50%;
    height: max-content;
    border-radius: 6px;
    background-color: rgb(0, 0, 0);
  }
  .control-dots {
    background-color: var(--red);
    border-radius: 6px;
    padding: 2px;
    width: max-content;
    li {
      background: rgb(255, 0, 0);
    }
  }
}
.fon {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 58%;
}
.item {
  height: 600px;
  position: relative;

  div:nth-child(1) {
    position: absolute;
    bottom: 43px;
    right: 334px;
    z-index: 100;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  div:nth-child(2) {
    position: absolute;
    bottom: 133px;
    right: 172px;
    z-index: 50;
  }
  div:nth-child(3) {
    position: absolute;
    bottom: 189px;
    right: 82px;
    z-index: 10;
  }
}
.main__title {
  position: absolute;
  top: 14.4%;
  left: 12.35%;
  max-width: 820px;
  h1 {
    font-size: 60px;
    line-height: 70px;
    margin-top: 40px;
    margin-bottom: 24px;
  }
  p {
    color: var(--grey);
    font-size: 29px;
    line-height: 33px;
  }
}

@media screen and (max-width: 768px) {
  .section__slider {
    max-width: 96%;
    height: 360px;
    left: 15px;
  }
  .wrapper__slider {
    width: 100%;
    .carousel.carousel-slider .control-arrow {
      padding: 5px 2px;
    }
  }
  .main__title {
    top: 35px;
    left: 50px;
    max-width: 600px;
    h1 {
      font-size: 40px;
      line-height: 43px;
      margin: 20px 0 10px 0;
    }
    p {
      font-size: 20px;
      line-height: 22px;
    }
  }

  .item {
    height: 360px;
    div:nth-child(1) {
      width: 353px;
      height: 173px;
      bottom: 33px;
      right: 130px;
    }
    div:nth-child(2) {
      width: 226px;
      height: 129px;
      bottom: 76px;
      right: 55px;
    }
    div:nth-child(3) {
      width: 183px;
      height: 108px;
      bottom: 103px;
      right: 14px;
    }
  }
}

@media screen and (max-width: 375px) {
  .section__slider {
    max-width: 91.8%;
  }
  .wrapper__slider {
    width: 100%;
    .carousel.carousel-slider .control-arrow {
      display: none;
    }
    .control-dots {
      display: none;
    }
  }
  .main__title {
    width: 250px;
    top: 24px;
    left: 20px;
    h1 {
      font-size: 30px;
      line-height: 35px;
      margin: 13px 0;
    }
    p {
      font-size: 18px;
      line-height: 21px;
    }
  }

  .item {
    height: 360px;
    div:nth-child(1) {
      width: 212px;
      height: 104px;
      bottom: 18px;
      right: 88px;
    }
    div:nth-child(2) {
      width: 137px;
      height: 77px;
      bottom: 43px;
      right: 43px;
    }
    div:nth-child(3) {
      width: 110px;
      height: 65px;
      bottom: 59px;
      right: 19px;
    }
  }
}
