.selection__specialOff_items {
  position: relative;
  height: 197px;
  border-radius: 25px;
  background-color: rgba(239, 240, 240, 1);
  padding: 20px 25px;
  overflow: hidden;
  .selection__specialOff_title {
    position: relative;
    z-index: 20;
    width: max-content;
    h3 {
      font-size: 20px;
      line-height: 23px;
      font-weight: 700;
      margin-bottom: 5px;
    }
    p {
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
      color: rgba(115, 115, 115, 1);
    }
  }
  button {
    position: absolute;
    bottom: 25px;

    z-index: 10;
    background-color: rgba(194, 194, 196, 0.5);
    color: black;
    &:hover,
    &:focus {
      background-color: rgba(194, 194, 196, 1);
    }
  }
  img {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.blur {
  width: 260px;
  height: 350px;
  background-color: rgba(239, 240, 240, 1);
  position: absolute;
  top: -50%;
  left: 0;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 10px 10px 33px 1px rgba(239, 240, 240, 1);
}

@media screen and (max-width: 768px) {
  .blur {
    top: -40%;
    width: 156px;
  }
}
