.header__nav_logo {
  svg:nth-child(3) {
    margin-left: 30px;
  }
}

.shoMenu_info {
  width: 100%;
  height: 222px;
  background-color: var(--lite-grey);
  border-radius: 25px;
  margin-top: 20px;
  padding: 24px 20px;
  .Footer_footer__catalog_contacts__95vVj {
    width: 60%;
    margin: 0;
    p {
      font-size: 14px;
      line-height: 20px;
    }
    h4,
    :nth-child(5) {
      display: none;
    }
    .Footer_contact__phone__try9D {
      margin-bottom: 16px;
    }
  }
}
@media screen and (max-width: 768px) {
  .showMenu {
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: -570px;
    width: 94%;
    margin-left: 20px;
    .header__select_item {
      margin-bottom: 5px;
    }
    a {
      color: black;
      font-weight: bold;
      font-size: 14px;
      line-height: 25px;
    }
    .active_ {
      color: var(--red);
    }
  }
}
@media screen and (max-width: 378px) {
  .showMenu {
    width: 92%;
    bottom: -540px;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
    .header__select_item {
      margin-bottom: 0px;
    }
  }
}
/* GENERAL STYLES */
.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.hamburger {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.hamburger .bar {
  padding: 0;
  width: 30px;
  height: 4px;
  background-color: maroon;
  display: block;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  position: absolute;
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 13.5px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

/* HAMBURGER 1 */
.checkbox1:checked + label > .hamburger1 > .bar1 {
  transform: rotate(45deg);
  transform-origin: 5%;
  width: 41px;
}

.checkbox1:checked + label > .hamburger1 > .bar2 {
  transform: translateX(-40px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar3 {
  transform: translateX(40px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar4 {
  transform-origin: 5%;
  transform: rotate(-45deg);
  width: 41px;
}

@media screen and (max-width: 768px) {
  .hamburger {
    width: 22px;
    height: 22px;
    .bar {
      width: 22px;
    }
    .bar2,
    .bar3 {
      width: 22px;
      top: 8.5px;
      left: 0px;
    }
  }

  .checkbox1:checked + label > .hamburger1 > .bar1 {
    transform: rotate(45deg);
    transform-origin: -5%;
    width: 24px;
  }

  .checkbox1:checked + label > .hamburger1 > .bar4 {
    transform-origin: 0%;
    transform: rotate(-45deg);
    width: 24px;
  }
}
